@import './base.css';
@import './utils.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
  height: var(--tg-viewport-height);
}

#app main {
  height: 100vh;
  height: var(--tg-viewport-height);
}

.n-icon-in-text {
  top: 5px;
}